script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js')

// Bootstrap
script(type='text/javascript', src='/libs/bootstrap/dist/js/bootstrap.min.js')

// AngularJS
script(type='text/javascript', src='/libs/angular/angular.js')
script(type='text/javascript', src='/libs/angular-resource/angular-resource.js')
script(type='text/javascript', src='/libs/angular-ui-router/release/angular-ui-router.min.js')
script(type='text/javascript', src='/libs/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(type='text/javascript', src='/libs/angular-local-storage/angular-local-storage.min.js')

// Application Files
script(type='text/javascript', src='/js/dashboard/app.js')
script(type='text/javascript', src='/js/dashboard/config.js')
script(type='text/javascript', src='/js/dashboard/directives.js')
script(type='text/javascript', src='/js/dashboard/filters.js')

// Application Services

// Application Controllers
script(type='text/javascript', src='/js/dashboard/controllers/dashboard.js')
	
