script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-resource.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')

//-  If Site is in Production, use minified asset
if (process.env.NODE_ENV === 'production')
	script(type='text/javascript', src='/dist/home.min.js')

//-  If Site is not in Production, use raw assets, which make it easier for debugging
if (process.env.NODE_ENV !== 'production')
	//- Angular Core
	script(type='text/javascript', src='/js/home/app.js')
	//- Angular Controllers
	script(type='text/javascript', src='/js/home/controllers/home.js')
	
