<div id="dashboard-page" class="animated fadeIn" data-ng-controller="DashboardController" data-ng-init="initialize()">

	<!-- Dashboard Header -->
	<div class="row">
		<div id="dashboard-header" class="col-md-12">
			<h1 class="st-centered st-font logo animated fadeIn">
				Servant Text Messenger
			</h1>
		</div>
	</div>

	<!-- Dashboard Navigation -->
	<div class="row">
		<div id="dashboard-navigation" class="col-md-offset-3 col-md-6">
			<ul class="list-inline pull-right">
				<li>
					<a class="pull-right st-font" href="/logout">Sign Out</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- Dashboard Content -->
	<div class="row">
		<div id="dashboard-content" class="col-md-offset-3 col-md-6">
			
			<div id="welcome-notice" class="st-sign-outer animated bounceInUp">
				<div class="st-sign-inner">
					<button class="btn btn-primary" data-ng-click="checkout(9)">Checkout</button>
				</div>
			</div>

		</div>
	</div>

</div>
