<div id="number-page" class="dashboard-page st-animated st-zoom-in" data-ng-controller="NumberController" data-ng-init="initialize()">

	<div id="content" class="st-animated st-fade-in">
		
		<h2 class="st-centered st-font" style="margin-top:5px;letter-spacing:-3px;">
			Phone Numbers
		</h2>
		<!-- <h2 class="st-centered st-font" style="margin-top:5px;letter-spacing:-3px;">Your Phone Number</h2> -->
		<!-- Phone Number Search -->
		<div class="form-group">
			<p class="st-label st-font">Enter Your Area Code</p>
			<input class="form-control st-centered" type="text" maxlength="3" style="width:100px;margin:0px auto;">
		</div>

		
		<div class="clearfix"></div>
	</div>
</div>
