extends layouts/dashboard_layout

block content
	p.st-centered.st-font(style="font-size:9px;color:#999999;margin:5px auto;") 
		|  This app is currently in beta.  Please 
		|  
		a.st-link(href="https://www.hipchat.com/grXCavfpe", target="_blank") tell us 
		|  
		| if something isn't working :)
	//- Dashboard Header
	div(id="dashboard-header",)
		p.st-font.st-centered(id="logo") 
			span.st-link(data-ui-sref="servants") #{name}
	//- Dashboard Container
	div(data-ui-view, id="dashboard-container", data-clientid="#{client_id}", data-environment="#{environment}", data-ng-hide="s.loading")
	//- Loading Container
	div(id="loading-container", data-ng-show="s.loading")
		p.st-centered.st-font.st-animate-blink
			i.fa.fa-spinner.fa-spin
			| Loading...

