extends layouts/dashboard_layout

block content
	section(data-ui-view, id="dashboard-container", data-clientid="#{client_id}", data-accesstokenlimited="#{access_token_limited}", data-environment="#{environment}", data-stripesubscription="#{stripe_subscription}")
			


