extends layouts/home_layout

block content
	section.container-fluid(id="home-page", data-ng-controller="HomeController", data-ng-init="initialize()")
		.row
			.col-md-12.animated.fadeIn(id="logo-container")
				h1.logo.st-font Servant Boilerplate: MEAN Stack
				p.tagline.st-font 
					i.fa.fa-chevron-right 
					span A boilerplate framework to help you rapidly build your own Servant application!
					i.fa.fa-chevron-left
		.row
			.col-md-12.animated.bounceInUp(id="info-container")
				//- Register your app on www.servant.co, copy the connect link, and paste it in the href=""
				a.btn-primary.btn-lg(href="#{connect_url}") Connect Servant

