doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product', data-ng-app="appHome")
	include ../includes/home_layout_head
	body(ng-cloak)
	block content
	include ../includes/home_layout_foot
